<!-- print genre name -->
<h1><%= @genre.name %></h1>
<!-- link to edit genre page -->
<a href="/genre/<%= @genre.id %>/edit"> Edit </a>
<!-- print films heading -->
<h3>Films:</h3>
<!-- start film loop -->
<% @director.get_films().each do |film| %>
  <div class="same-row">
    <!-- prrint films name -->
    <h4><a href="/films/<%= film.id %>"><%= film.title %></a> (<%= film.year %>) </h4>
    <!-- get film-director link id -->
    <%link = Film_Genre.find(film.id, @genre.id)%>
    <!-- show remove button -->
    <form method="post" action="/films_genres/<%= link.id %>/delete">
    <input type= "submit" value="Remove" class="remove-button" />
    </form>
  </div>
<% end %>
<!-- show delete button -->
<form method="post" action="/genre/<%=@genre.id%>/delete">
<input type= "submit" value="Delete" />
</form>
