<h1>Edit Film</h1>

<form method="post" action="/films/<%=@film.id%>">
  <label for="title"> Title: </label>
  <input id="title" type="text" name="title" value="<%=@film.title%>" />

  <label for="year"> Year: </label>
  <input id="year" type="text" name="year" value="<%=@film.year%>" />

  <label for="rating"> Rating: </label>
  <select id="rating" name="rating"/>
    <% for rating in [1,2,3,4,5]%>
      <option value="<%= rating %>" <%= (@film.rating == rating ) ? "selected" : "" %>  ><%= rating %></option>
    <% end %>
  </select>

  <input type="submit" value="Add Changes">
</form>
