<h1><%= @film.title %></h1>

<a href="/films/<%= @film.id %>/edit"> Edit </a>

<h2><%= @film.year %></h2>

<h3>Director(s):</h3>

<% @film.get_directors().each do |dir| %>
<h4><a href="/director/<%= dir.id %>"><%= dir.name %></a></h4>
<% end %>

<form method="post" action="/films_directors">
  <input type="hidden" value="<%= @film.id %>" name="film_id" />

  <label for="director">Director:</label>
  <select id="director" name="director_id">
  <% @director.each do |dir| %>
    <option value="<%= dir.id %>"> <%= dir.name %> </option>
  <% end %>
  </select>

  <a href="/director/new?film_id=<%=@film.id%>"> Add New Director </a>

  <input type="submit" value="Add Director">
</form>

<h5><%= @film.rating %></h5>

<form method="post" action="/films/<%=@film.id%>/delete">
<input type= "submit" value="Delete" />
</form>
